/* CW.module.css */

.CWContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.MainContent {
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
}

.TopSection {
  text-align: center;
  margin-bottom: 20px;
}

.Scools,
.WorkExperience {
  margin-bottom: 40px;
}

.Scools h2,
.WorkExperience h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.Scools h3,
.WorkExperience h3 {
  margin-top: 20px;
}

.Scools p,
.WorkExperience p {
  margin-bottom: 10px;
}

.Leftsidebar {
  flex: 0 0 200px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  position: sticky;
  top: 0;
}


.SidbarHeader h2,
.SidbarHeader p {
  text-align: center;
  margin-bottom: 10px;
}

.SidbarBody h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.SidbarBody ul {
  list-style: disc;
  /* Use disc as the bullet point style */
  padding-left: 20px;
  /* Add some padding to the left */
}

.SidbarBody li {
  margin-bottom: 5px;
}